<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
      <div class="col-8 offset-2 bg-white p-4 rounded shadow-sm" >
      

    <h2>Edit your Listing</h2>
      <form method="POST" 
      action="/listings/<%=listing._id%>?_method=PUT" 
      novalidate class="needs-validation"
       enctype="multipart/form-data">


       

          <div class="mb-3">
          <label class="form-label" for="title">Title</label>
        <input placeholder="Add a Title" name="Listing[title]" type="text" value = "<%= listing.title %>" class="form-control" required>
        <div class="invalid-feedback">please enter a Title</div>
        </div>
        
        
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
         <textarea 
         name="Listing[description]" 
         class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">please enter a short decription</div>
      </div>
       
      
      <div class="mb-3">
        Original Listing Image <br>
        <img src="<%= originalImageUrl %>" class="img-fluid rounded" 
       style="max-width: 500px;">
      </div>

        <div class="mb-3 ">
          <label class="form-label"  for="image">Upload New Image</label>
           <input  name="image" type="file" class="form-control"  >
           
        </div>
      
        <div class="row">
          <div class="mb-3 col-md-2">
          <label class="form-label" for="price">Price</label>
           <input placeholder="1200" name="Listing[price]" type="number" class="form-control" value = "<%= listing.price%>" required>
           <div class="invalid-feedback">Please enter a valid price</div>
        </div>

           <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Country</label>
            <input placeholder="India" name="Listing[country]" type="text" class="form-control" value = "<%= listing.country %>" required>
            <div class="invalid-feedback">Country should be valid</div>
           </div>

        </div>
         
           <div class="mb-3">
             <label class="form-label" for="location">Location</label>
              <input  placeholder="Bhopal,MP" name="Listing[location]" type="text" class="form-control" value = "<%= listing.location%>" required>
              <div class="invalid-feedback">Location should be valid</div>
           </div>

            <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" name="Listing[category]" class="form-select">
        <option value="Trending">Trending</option>
        <option value="Beach">Beach</option>
        <option value="City">City</option>
        <option value="Mountain">Mountain</option>
        <option value="Countryside">Countryside</option>
        <option value="Other">Other</option>
       </select>
       </div>
       

        <button class="btn btn-dark add-btn edit-btn mt-3">Edit</button>
      </form>
<br><br>
        </div>
    </div>
    



